

/*========================================================================================
 GOOGLE TRANSLATE  InlineLayout.SIMPLE 
===========================================================================================*/
#google_translate_element {padding: 5px; margin-left: 20px;}
.goog-te-banner-frame, .VIpgJd-ZVi9od-ORHb-OEVmcd {display:none;}  /*Don't show Google Topbar */
#goog-gt-tt {display:none!important;visibility:hidden!important;}
.goog-te-gadget {
  font-family: Roboto, 'Open Sans', sans-serif!important;
  text-transform: uppercase;
}
.skiptranslate.goog-te-gadget{
  display: flex !important;
  flex-direction: row !important;
  /* justify-content: center; */
}
.goog-te-gadget-simple  {
  background-color: rgba(255,255,255,0.20)!important;
  border: 1px solid rgba(255,255,255,0.50) !important;
  padding: 4px!important;
  border-radius: 4px!important;
  font-size: 1rem!important;
  line-height:2rem!important;
  /* display: inline-block!important; */
  cursor: pointer!important;
  zoom: 1!important;

  display: flex !important;
  position: relative!important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap !important;
}

.goog-te-menu-value, .VIpgJd-ZVi9od-xl07Ob-lTBxed {
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap; */
  display: none !important;
} 
.goog-te-menu2 {
  max-width: 100%;
  overflow: auto !important;
}

.goog-te-menu-frame.skiptranslate{
  overflow: auto !important;
  position: absolute !important;
  margin: 0 !important;
  left: 0 !important;
  right: 0 !important;
}


/* .goog-te-menu-value {
  color: #fff !important;
    &:before {
    font-family: 'Material Icons';
    content: "\E927";
    margin-right: 16px;
    font-size: 2rem;
    vertical-align: -10px;
    // width:32px!important; 
  } s
} */
/* .goog-te-menu-value span:nth-child(5) {
  display:none;
} */
/* .goog-te-menu-value span:nth-child(3) {
  border:none!important;
  font-family: 'Material Icons';
  &:after {
    font-family: 'Material Icons';
    content: "\E5C5";
    font-size: 1.5rem;
    vertical-align: -6px;
  }  
} */

.goog-te-gadget-icon {
    
    background-image: url(../img/languaje/idioma.png)!important;
    
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px!important;
    width: 25px!important;
   
    /* margin-right: 8px!important; */
    /* //     OR
    display: none; */
}

/*============ HIDE TOP BAR ============ */
.goog-te-banner-frame.skiptranslate {display: none!important;} 
body {top: 0px!important;}

/* ================================== *\
    Mediaqueries
\* ================================== */
@media (max-width: 800px) {
	#google_translate_element {
		bottom: calc(100% - 50% - 53px);
		/* width: 100%!important; */
  }

  .goog-te-gadget {
    width:100%!important;
  }

	.skiptranslate {
    width:100%!important;			
  }
	.goog-te-gadget-simple {
    /* width: calc(100% - 32px)!important; */
    text-align: center;
  }	
	
}


/*========================================================================================
 GOOGLE TRANSLATE InlineLayout.VERTICAL
===========================================================================================*/
.goog-te-gadget .goog-te-combo{
  margin: 0;
}
/* Estilo para el elemento select */
select.goog-te-combo {
  appearance: none; /* Elimina los estilos nativos del navegador */
  -webkit-appearance: none; /* Para navegadores basados en WebKit (por ejemplo, Chrome y Safari) */
  -moz-appearance: none; /* Para navegadores basados en Gecko (por ejemplo, Firefox) */
  background-image: url('../img/languaje/idioma.png'); /*Agrega la imagen de fondo*/
  background-repeat: no-repeat;
  background-size: 22px 22px; /* Ajusta el tamaño de la imagen de fondo */
  background-position: center center; /* Ajusta la posición de la imagen de fondo */
  padding-right: 25px; /* Ajusta el espaciado para dejar espacio para la imagen */
  border: none; /* Establece un borde para el select */
  border-radius: 4px; /* Añade esquinas redondeadas */
  font-size: 16px; /* Tamaño de fuente */
  padding: 2px; 
  height: 27px;
  width: 25px; /* Ajusta el ancho del select según tus necesidades */
 text-indent: -9999px;  /* Oculta el texto moviéndolo fuera del área visible */
  background-color: rgba(0, 0, 0,0.0);
}